
body {
font-family: 'Josefin Slab', serif;
margin: 0 auto;
}

/*hr {
height: 1px;
color:white;
background-color:white;
}*/

/*.cover {
  height: 100%;
  text-align: center;
  position: relative;
  font-family: 'Josefin Slab', serif;
}*/

/*#cover {
  height: 100px;
  width: 645px;
  position: relative;
  float: right;
  margin-top: 275px;
}*/

/*.cover img {
  height: 70%;
  position: relative;
  width: auto;
  float: left;
  margin-left: 75px;
  margin-top: 100px;
}*/

/*.aboutme {
  height: 100%;
  text-align: center;
  color: white;
  background-color: #1B1B1B;
  position: relative;
}*/

/*.aboutmeheader, .portfolioheader {
  padding-top: 10px;
}*/

/*.aboutme img {
  width: 30%;
  height: auto;
  position: relative;
  margin-left: 50px;
  margin-top: 20px;
}*/


/*.portfolio {
  text-align: center;
  height: 100%;
  position: relative;
}*/

/*.portfolio img {
  height: 33%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}*/

.portfolio img:hover {
  opacity: .5;
}


.contact {
  text-align: center;
  background-color: #1B1B1B;
  color: white;
  list-style-type: none;
  position: relative;
  padding: 20px;
}

.contact li {
  display: inline-block;
  padding: 40px;
}

