
body {
font-family: 'Josefin Slab', serif;
margin: 0 auto;
}


/*.cover {
  height: 100%;
  text-align: center;
  position: relative;
}*/

#coversection {
  margin-bottom: 90px;
}

#cover {
  margin-top: 275px;
  position: relative;
  text-align: center;
}

.cover img {
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  max-height: 100%;
  height: 80%;
  width: auto;
}

#aboutme {
  color: white;
  background-color: #1B1B1B;
  position: relative;
}

#abouttext {
  text-align: center;
  font-size: 1.25em;
  line-height: 125%;
}

.aboutme img {
  padding-bottom: 25px;
  overflow: hidden;
  max-height: 100%;
  height: 75%;
  width: auto;
}


#portfolio {
margin-bottom: 140px;
}

.portfolio img {
  border: 1px solid black;
}

.portfolio img:hover {
  opacity: .5;
}

#portfoliohr {
  height: 1px;
  color: #1B1B1B;
  background-color: #1B1B1B;
}

#portfoliodiv {
  text-align: center;
}

#contact {
  text-align: center;
  background-color: #1B1B1B;
  list-style-type: none;
  color: white;
 }

.contact li {
  display: inline-block;
  padding: 5px 30px 5px 30px;
}

.span12 {
  text-align: center;
  padding: 15px;
}

