<div class="contact">
  <h2>Connect with me!</h2>
    <li>
      <a href="http://www.github.com/PaulTuraew" target="_blank"><i class="fa fa-fw fa-github fa-3x"></i><p>GitHub</p></a>
    </li>
    <li>
      <a href="http://www.twitter.com/PaulTuraew" target="_blank"><i class="fa fa-fw fa-twitter fa-3x"></i><p>Twitter</p></a>
    </a>
  </li>
  <li>
    <a href="http://www.linkedin.com/in/pturaew/" target="_blank"><i class="fa fa-fw fa-linkedin fa-3x"></i><p>LinkedIn</p></a>
  </a>
</li>
<li>
  <a target="_blank" href="mailto:paul.turaew@gmail.com"><i class="fa fa-fw fa-envelope fa-3x"></i><p>Email</p></a>
</li>
</div>

</html>


